@page
@model cookies_authentication.Pages.IndexModel

<h1>Login form</h1>
<form method="post">
    <div>
        <label for="username">User Name</label>
        <input id="username" name"username" placeholder="Type user name"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name"password" placeholder="Type password" />
    </div>
    <button type="submit">Do Login</button>
</form>

@{
}
